@model IEnumerable<EducationManagement.Entities.Students>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Create Students</a>
</p>
<button id="btnImport" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
    Import
</button>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">File</h4>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="file" id="fUpload" name="files" class="form-control" />
                        </div>
                        <div class="col-md-1">
                            <input type="button" id="btnUpload" value="Upload" class="btn btn-info" />
                        </div>
                    </div>
                    <br />
                    <table id="dvData" class="table table-striped table-bordered table-responsive display " style="width:100%"></table>
                </form>
            </div>
        </div>

    </div>
</div>
<form class="form-inline form-group">
    <div style="float:right">
        <input type="text" id="search" class="form-control" style="width:250px" placeholder="Search here…" />
        <button id="btnSubmit" type="button" class="btn btn-info fa fa-search" style="height:34px;float:right"></button>
    </div>
</form>
<table name="" id="indexTable" class="table table-striped table-bordered table-responsive display " style="width:100%"></table>
<div class="row">
    <div class="col-md-8" style="padding-top:10px;">
        <button class="btn btn-info" asp-page-handler="Export">Export</button>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#indexTable").DataTable({
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("GetListStudents", "Students")",
                    "type": "POST",
                    "data": function(d) {
                        d.name = $("#search").val()
                    }
                },
                "columns": [
                    {
                        "title": "STT",
                        "data": null,
                        "defaultContent": ""
                    },
                    {
                        "title": "Name",
                        "data": "name"
                    },
                    {
                        "title": "Code student",
                        "data": "studentId"
                    },
                    {
                        "title": "Grades",
                        "data": "nameGrade",
                    },
                    {
                        "title": "Classes",
                        "data": "nameClass",
                    },
                    {
                        "title": "Day of birth",
                        "data": "dob"
                    },
                    {
                        "title": "Gender",
                        "data": "gender"
                    },
                    {
                        "title": "Create Date",
                        "data": "createDate"
                    },
                    {
                        "title": "Update Date",
                        "data": "updateDate"
                    },
                    {
                        "title": "Action",
                        "orderable": false,
                        "render": function (a, b, data) {
                            return "<a href='@(Url.Action("Edit","Students"))?id=" + data.id + "'>Edit</a> | " +
                                "<a href='@(Url.Action("Delete","Students"))?id=" + data.id + "'>Delete</a> ";
                        }
                    }
                ],
                "lengthMenu": [[2, 25, 50, -1], [2, 25, 50, "All"]],
                "searching": false
            });
            $("#btnSubmit").click(function () {
                table.clear().draw();
            });
        });
        jQuery("#btnUpload").click(function () {
            var fileExtension = ['xls', 'xlsx'];
            var filename = $("#fUpload").val();
            if (filename.length == 0) {
                alert("Please select a file.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only excel files.");
                    return false;
                }
            }
            var fileUpload = $("#fUpload").get(0);
            var files = fileUpload.files;
            var fdata = new FormData();
            fdata.append(files[0].name, files[0]);
            $.ajax({
                type: "POST",
                url: '@Url.Action("OnPostImport","Students")',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.isSuccess = true) {
                        var table = $("#dvData").DataTable({
                        "serverSide": true,
                        "ajax": {
                            "url": "@Url.Action("OpenFileAndExcelPaging", "Students")",
                            "type": "POST",
                            "data": function (d) {
                                d.fileName = response.fileName
                            }
                        },
                        "columns": [
                            {
                                "title": "STT",
                                "data": "stt",
                            },
                            {
                                "title": "Mã SV",
                                "data": "studentId"
                            },
                            {
                                "title": "HỌ TÊN SINH VIÊN",
                                "data": "lastName"
                            },
                            {
                                "title": "TÊN",
                                "data": "firstName",
                            },
                            {
                                "title": "NGÀY SINH",
                                "data": "dob",
                            },
                            {
                                "title": "LỚP",
                                "data": "className"
                            },
                            {
                                "title": "KHỐI",
                                "data": "gradeName"
                            },
                            {
                                "title": "PHÁI",
                                "data": "gender"
                            }
                        ],
                        "lengthMenu": [[2, 25, 50, -1], [2, 25, 50, "All"]],
                        "searching": false
                    });
                    }
                },
                error: function (e) {
                    $('#dvData').html(e.responseText);
                }
            });
        });
    </script>
    }