@model IEnumerable<EducationManagement.Entities.Grades>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<style>
    td.details-control { 
        background: url('../../images/if_plus_1891033.png') no-repeat center center;
    }

    tr.details td.details-control {
        background: url('../../images/details_close.png') no-repeat center center;

    }
</style>
<form class="form-group">
    <section class="content-header">
        <h1>Grades and Classes
            <small>Index</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Grades and Class</a></li>
            <li class="active">Index</li>
        </ol>
    </section>
</form>
<form class="form-group">
    <p>
        <a asp-action="Create" class="btn btn-success">Create Grade</a>
        <a href='@Url.Action("Create","Classes")' class="btn btn-success">Create Class</a>
    </p>
</form>
<form class="form-inline form-group">
    <div style="float:right">
            <input type="text" id="search" class="form-control" style="width:250px" placeholder="Search here…" />
            <button id="btnSubmit" type="button" class="btn btn-info fa fa-search" style="height:34px;float:right"></button>
    </div>
</form>


    <table name="" id="indexTable" class="table table-striped table-bordered table-responsive display " style="width:100%"></table>
    @section scripts{
        <script>
        $(document).ready(function () {
            function format(d) {
                return '<table name="" id="' + d.id + '" class="table table-responsive table-hover table-condensed " style="width:100%"></table>';
            }
            var table = $("#indexTable").DataTable({
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("GetListGrades", "Grades")",
                    "type": "POST",
                    "data": function(d) {
                        d.name = $("#search").val()
                    }
                },
                "columns": [
                    {
                        "class": "details-control",
                        "orderable": false,
                        "data": null,
                        "defaultContent": ""
                    },
                    {
                        "title": "Name",
                        "data": "name"
                    },
                    {
                        "title": "Create Date",
                        "data": "createDate"
                    },
                    {
                        "title": "Update Date",
                        "data": "updateDate"
                    },
                    {
                        "title": "Action",
                        "orderable": false,
                        "render": function (a, b, data) {
                            return "<a href='@(Url.Action("Edit","Grades"))?id=" + data.id + "'>Edit</a> | " +
                                "<a href='@(Url.Action("Delete","Grades"))?id=" + data.id + "'>Delete</a> ";
                        }
                    }
                ],
                "lengthMenu": [[2, 25, 50, -1], [2, 25, 50, "All"]],
                "order": [[1, 'asc']],
                "searching": false

            });
            var detailRows = [];
            $('#indexTable tbody').on('click', 'tr td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                var idx = $.inArray(tr.attr('id'), detailRows);

                if (row.child.isShown()) {
                    tr.removeClass('details');
                    row.child.hide();

                    // Remove from the 'open' array
                    detailRows.splice(idx, 1);
                }
                else {
                    tr.addClass('details');
                    row.child(format(row.data())).show();
                    //load datatable
                    $("#" + row.data().id).DataTable({
                        "paging": false,
                        "bInfo": false,
                        "bLengthChange": false,
                        "searching": false,
                        "serverSide": true,
                        "ajax": {
                            "url": "@Url.Action("GetListClassesByGradeId", "Classes")",
                            "type": "POST",
                            "data": function(d) {
                                d.gradeId = row.data().id
                            }
                        },
                        "columns": [
                            {
                                "orderable": false,
                                "data": null,
                                "defaultContent": ""
                            },
                            {
                                "title": "Classes",
                                "data": "name"
                            },
                            {
                                "title": "Create Date",
                                "data": "createDate"
                            },
                            {
                                "title": "Update Date",
                                "data": "updateDate"
                            },
                            {
                                "orderable": false,
                                "render": function (a, b, data) {
                                    return "<a href='@(Url.Action("Edit","Classes"))?id=" + data.id + "'>Edit</a> | " +
                                        "<a href='@(Url.Action("Delete", "Classes"))?id=" + data.id + "'>Delete</a> ";
                                }
                            }
                        ],
                        "order": [[1, 'asc']],
                    });
                    // Add to the 'open' array
                    if (idx === -1) {
                        detailRows.push(tr.attr('id'));
                    }
                }
            });
            table.on('draw', function () {
                $.each(detailRows, function (i, id) {
                    $('#' + id + ' td.details-control').trigger('click');
                });
            });
            $("#btnSubmit").click(function () {
                table.clear().draw();
             });
        });
        </script>
    }

